{% import (
  "github.com/kyleu/todoforge/app"
  "github.com/kyleu/todoforge/app/collection"
  "github.com/kyleu/todoforge/app/collection/item"
  "github.com/kyleu/todoforge/app/controller/cutil"
  "github.com/kyleu/todoforge/views/components"
  "github.com/kyleu/todoforge/views/components/view"
  "github.com/kyleu/todoforge/views/layout"
) %}

{% code type Detail struct {
  layout.Basic
  Model *item.Item
  CollectionByCollectionID *collection.Collection
  Paths []string
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-item"><button type="button" title="JSON">{%= components.SVGButton("code", ps) %}</button></a>
      <a href="{%s p.Model.WebPath(p.Paths...) %}/edit" title="Edit"><button>{%= components.SVGButton("edit", ps) %}</button></a>
    </div>
    <h3>{%= components.SVGIcon(`file`, ps) %} {%s p.Model.TitleString() %}</h3>
    <div><a href="{%s item.Route(p.Paths...) %}"><em>Item</em></a></div>
    {%= DetailTable(p, ps) %}
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  {%= components.JSONModal("item", "Item JSON", p.Model, 1) %}
{% endfunc %}

{% func DetailTable(p *Detail, ps *cutil.PageState) %}
  <div class="mt overflow full-width">
    <table>
      <tbody>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">ID</th>
          <td>{%= view.UUID(&p.Model.ID) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">Collection ID</th>
          <td class="nowrap">
            {%= view.UUID(&p.Model.CollectionID) %}{% if p.CollectionByCollectionID != nil %} ({%s p.CollectionByCollectionID.TitleString() %}){% endif %}
            <a title="Collection" href="{% if x := p.CollectionByCollectionID; x != nil %}{%s x.WebPath(p.Paths...) %}{% endif %}">{%= components.SVGLink(`archive`, ps) %}</a>
          </td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Name</th>
          <td><strong>{%= view.String(p.Model.Name) %}</strong></td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format">Created</th>
          <td>{%= view.Timestamp(&p.Model.Created) %}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endfunc %}
