{% import (
  "time"

  "github.com/kyleu/todoforge/app"
  "github.com/kyleu/todoforge/app/controller/cutil"
  "github.com/kyleu/todoforge/app/util"
  "github.com/kyleu/todoforge/views/components"
  "github.com/kyleu/todoforge/views/components/view"
  "github.com/kyleu/todoforge/views/layout"
) %}

{% code type About struct {
  layout.Basic
  Version string
  Started time.Time
} %}

{% func (p *About) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGIcon(`app`, ps) %} {%s util.AppName %}</h3>
    <em>v{%s p.Version %}, started {%= view.TimestampRelative(&p.Started, false) %}</em>
  </div>
  <div class="card">
    <h3>About</h3>
    <p>Coming soon...</p>
  </div>
  {%= SourceCode() %}
  {%= Feedback() %}
{% endfunc %}

{% func SourceCode() %}
  <div class="card">
    <h3>Source Code</h3>
    <p>The project is available on <a href="https://github.com/kyleu/todoforge" target="_blank" rel="noopener noreferrer">GitHub</a></p>
  </div>
{% endfunc %}

{% func Feedback() %}
  <div class="card">
    <h3>Feedback</h3>
    <p>For now, email <a href="mailto:todoforge@kyleu.com">Kyle U</a></p>
  </div>
{% endfunc %}
