{% import (
  "github.com/kyleu/todoforge/app"
  "github.com/kyleu/todoforge/app/collection"
  "github.com/kyleu/todoforge/app/collection/item"
  "github.com/kyleu/todoforge/app/controller/cutil"
  "github.com/kyleu/todoforge/app/lib/filter"
  "github.com/kyleu/todoforge/app/util"
  "github.com/kyleu/todoforge/views/components"
  "github.com/kyleu/todoforge/views/components/view"
  "github.com/kyleu/todoforge/views/layout"
  "github.com/kyleu/todoforge/views/vcollection/vitem"
) %}

{% code type Detail struct {
  layout.Basic
  Model *collection.Collection
  Params filter.ParamSet
  RelItemsByCollectionID item.Items
  Paths []string
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-collection"><button type="button">{%= components.SVGButton("file", ps) %} JSON</button></a>
      <a href="{%s p.Model.WebPath(p.Paths...) %}/edit"><button>{%= components.SVGButton("edit", ps) %} Edit</button></a>
    </div>
    <h3>{%= components.SVGIcon(`archive`, ps) %} {%s p.Model.TitleString() %}</h3>
    <div><a href="{%s collection.Route(p.Paths...) %}"><em>Collection</em></a></div>
    {%= DetailTable(p, ps) %}
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  {%= DetailRelations(as, p, ps) %}
  {%= components.JSONModal("collection", "Collection JSON", p.Model, 1) %}
{% endfunc %}

{% func DetailTable(p *Detail, ps *cutil.PageState) %}
  <div class="mt overflow full-width">
    <table>
      <tbody>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">ID</th>
          <td>{%= view.UUID(&p.Model.ID) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Name</th>
          <td><strong>{%= view.String(p.Model.Name) %}</strong></td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format">Created</th>
          <td>{%= view.Timestamp(&p.Model.Created) %}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endfunc %}

{% func DetailRelations(as *app.State, p *Detail, ps *cutil.PageState) %}
  {%- code relationHelper := collection.Collections{p.Model} -%}
  <div class="card">
    <h3 class="mb">Relations</h3>
    <ul class="accordion">
      <li>
        <input id="accordion-ItemsByCollectionID" type="checkbox" hidden="hidden"{% if p.Params.Specifies(`item`) %} checked="checked"{% endif %} />
        <label for="accordion-ItemsByCollectionID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGInline(`file`, 16, ps) %}
          {%s util.StringPlural(len(p.RelItemsByCollectionID), "Item") %} by [Collection ID]
        </label>
        <div class="bd"><div><div>
          {%- if len(p.RelItemsByCollectionID) == 0 -%}
          <em>no related Items</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vitem.Table(p.RelItemsByCollectionID, relationHelper, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div></div></div>
      </li>
    </ul>
  </div>
{% endfunc %}
