<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/todoforge/app"
  "github.com/kyleu/todoforge/app/collection"
  "github.com/kyleu/todoforge/app/controller/cutil"
  "github.com/kyleu/todoforge/app/lib/filter"
  "github.com/kyleu/todoforge/views/components"
) %}

{% func Table(models collection.Collections, params filter.ParamSet, as *app.State, ps *cutil.PageState) %}
  {%- code prms := params.Get("collection", nil, ps.Logger).Sanitize("collection") -%}
  <table class="mt">
    <thead>
      <tr>
        {%= components.TableHeaderSimple("collection", "id", "ID", "UUID in format (00000000-0000-0000-0000-000000000000)", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("collection", "name", "Name", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("collection", "created", "Created", "Date and time, in almost any format", prms, ps.URI, ps) %}
      </tr>
    </thead>
    <tbody>
      {%- for _, model := range models -%}
      <tr>
        <td><a href="/collection/{%= components.DisplayUUID(&model.ID) %}">{%= components.DisplayUUID(&model.ID) %}</a></td>
        <td><strong>{%s model.Name %}</strong></td>
        <td>{%= components.DisplayTimestamp(&model.Created) %}</td>
      </tr>
      {%- endfor -%}
      {%- if prms.HasNextPage(len(models) + prms.Offset) || prms.HasPreviousPage() -%}
      <tr>
        <td colspan="3">{%= components.Pagination(len(models) + prms.Offset, prms, ps.URI) %}</td>
      </tr>
      {%- endif -%}
    </tbody>
  </table>
{% endfunc %}
