<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/todoforge/app"
  "github.com/kyleu/todoforge/app/controller/cutil"
  "github.com/kyleu/todoforge/app/lib/audit"
  "github.com/kyleu/todoforge/app/lib/filter"
  "github.com/kyleu/todoforge/views/components"
  "github.com/kyleu/todoforge/views/layout"
) %}

{% code type List struct {
  layout.Basic
  Models audit.Audits
  Params filter.ParamSet
} %}

{% func (p *List) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="/admin/audit/new"><button>New</button></a></div>
    <h3>{%= components.SVGIcon(`cog`, ps) %}Audits</h3>
    {%- if len(p.Models) == 0 -%}
    <div class="mt"><em>No audits available</em></div>
    {%- else -%}
    {%= Table(p.Models, p.Params, as, ps) %}
    {%- endif -%}
  </div>
{% endfunc %}
